<!DOCTYPE html>
<html>
<head>
<h1> Game-Login Page</h1>
</head>
<body>
<form action="home" method="get">
	<table>
		<tr>

			<td>
				Name:
			</td>

			<td>
				<input type="text" name="Name" id="Name">
			</td>
		</tr>
<tr>
<td>
				Password:
			</td>

			<td>
				<input type="text" name="password" id="pass">
			</td>
		</tr>
	</table>
    <div style="font-size:20px;text-align:center">
        <button name='player' type="submit" value="Submit">
            Submit
        </button>
    </div>
</form>
</body>
</html>
