<!DOCTYPE html>
<html>
<head>
    <h1> Game-User Registration</h1>
</head>
<p>
<form action="check" method="GET">
    <table>
        <tr>

            <td>
                Name:
            </td>

            <td>
                <input type="text" name="Name" id="Name">
            </td>
        </tr>
        <tr>

            <td>
                Email Address:
            </td>

            <td>
                <input type="text" name="MailID" id="mail">
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>

            <td>
                <input type="text" name="password" id="pass">
            </td>
        </tr>
    </table>
    <div style="font-size:20px;text-align:center">
        <button name='player' type="submit" value="Submit">
            Submit
        </button>


    </div>
</form>

{% if data == 0 %}

<p>User already exists</p>
<p>Old User</p>
<input type="submit" value="Login" onclick="location.href='{% url 'login' %}'"/>
{% elif data == 1 %}
<p>New User Login</p>
<input type="submit" value="Login" onclick="location.href='{% url 'login' %}'"/>
{% endif %}
</body>
</html>
